{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item"><a href="/admin">الرئيسية</a></li>
            <li class="list-group-item"><a href="/admin/users">المستخدمين</a></li>
            <li class="list-group-item"><a href="/admin/recovery-requests">طلبات الاستعادة</a></li>
            <li class="list-group-item"><a href="/admin/lessons">إدارة الدروس</a></li>
            <li class="list-group-item"><a href="/admin/questions">إدارة الأسئلة</a></li>
            <li class="list-group-item"><a href="/admin/resources">المكتبة</a></li>
            <li class="list-group-item"><a href="/admin/notifications">إشعارات جماعية</a></li>
            <li class="list-group-item"><a href="/admin/audit-log">سجل التدقيق</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        {% block admin_content %}{% endblock %}
    </div>
</div>
{% endblock %}